
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: 'Sulphur Point', sans-serif;

  }
  
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  
  
  /* Position the .top-bar at the very top */
  .top-bar {
    width: 100%; /* Full width to extend the full viewport width */
    max-width: 1080px; /* Max width set to 1080px */
    margin: 0 auto; /* Centers the navigation bar */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Distribute space between logo and navigation items */
    align-items: center; /* Align items vertically in the center */
    padding: 0 20px; /* Padding on the sides */
    /* Add other styles like background color, height, etc., as needed */
    border-radius: 20px;
  }
  
  .logo-container .logo {
    font-size: 30px; /* Adjust the size as needed */
    color: white; /* Adjust color as needed */
    text-decoration: none; /* Remove underline from links if necessary */
    /* Additional styling for the logo */
  }
  
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000; /* Add a background color to the nav bar for visibility */
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add some padding inside the nav bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better separation from the content */
  }
  
  
  .logo-container .logo {
    font-size: 30px; /* Adjust the size as needed */
    color: white; /* Adjust color as needed */
    text-decoration: none; /* Remove underline from links if necessary */
    /* Additional styling for the logo */
  }
  
  .top-nav .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Adjust the gap between the navigation items */
  }
  .hamburger-menu {
    display: none; /* Hide hamburger by default */
    width: auto;
  }
  
  
  .top-nav .nav-list li a {
    color: white; /* Adjust link color as needed */
    text-decoration: none; /* Remove underline from links */
    padding: 5px 10px; /* Adjust padding for clickable area */
    /* Additional styling for links */
  }
  
  
  /* Navigation link hover effect */
  .top-nav .nav-list li a:hover {
    background-color: #333; /* Change background on hover */
    border-radius: 4px; /* Optional: round corners on hover */
  }
  
  /* Hides the default checkbox visually */
  .menu-toggle {
  display: none;
  }
  
  /* Hide hamburger menu on desktop */
  @media (max-width: 768px) {
    /* Other styles remain the same */
  
    /* Correct placement of the hamburger menu */
    .hamburger-menu {
      margin-left: auto;
    }
  
    /* Other styles remain the same */
  }
  
  /* Mobile specific styles */
  @media (max-width: 768px) {
    /* Hide the navigation list by default */
    .top-nav .nav-list {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 60px; /* This value may need adjustment */
      left: 0;
      background: #000;
    }
  
    /* Styles for the hamburger menu */
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
    }
  
    /* Style for the bars of the hamburger menu */
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: #fff;
      transition: all 0.3s ease;
    }
  
    /* When the checkbox is checked, change the appearance of the hamburger to a 'cross' and show the nav list */
    #menu-toggle:checked + .hamburger-menu .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    #menu-toggle:checked + .hamburger-menu .bar:nth-child(2) {
      opacity: 0;
    }
    #menu-toggle:checked + .hamburger-menu .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
    #menu-toggle:checked ~ .top-nav .nav-list {
      display: flex;
    }
  }

/* Styles the label to look like a hamburger menu */
/* Desktop styles */


  /* Data Protection Section */
  .data-protection-section {
    text-align: left;
    max-width: 600px; /* Adjust the max-width as necessary */
    margin: 0 auto; /* This will center your content */
  }
  
  .data-protection-section h2 {
    font-size: 1rem; /* Adjust the size as necessary */
    color: #666; /* Light grey color, adjust as necessary */
  }
  
  .data-protection-section h1 {
    font-size: 3.1rem; /* Adjust the size as necessary */
    color: #333; /* Darker text color */
    margin: 1rem 0; /* Space between h1 and h2 */
  }
  
  .data-protection-section p {
    font-size: 1rem; /* Adjust the size as necessary */
    color: #666; /* Light grey color, adjust as necessary */
    margin-bottom: 8rem; /* Space after the paragraph */
  }
    /* EnterPrise Section */

  /* testamonial Section */
  .data-section {
    max-width: 1080px;
    margin: 0 auto; /* Center the section */
    padding: 0 20px; /* Add some padding for inner spacing */
    box-sizing: border-box; /* Padding included in width */
    text-align: center;
  }
  
  .data-section h2 {
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 25px;;
    
  }
  
  .data-section p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0.9em;
  }
  
  .testimonials {
    display: flex;
    justify-content: space-around;
  }
  
  .testimonial-item {
    width: 30%; /* Adjust based on your layout */
    margin: 10px;
    text-align: center;
  }
  
  .testimonial-item img {
    width: 100%; /* Adjust based on your layout */
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 20px;
  }
 /* end of testamonial Section */  
 .reduction-section {
  max-width: 1080px;
  margin: 0 auto; /* Center the section */
  padding: 0 20px; /* Add some padding for inner spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
}
  
  .reduction-section {
    text-align: center; /* Centers text */
    background-color: #f7f5f5;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .reduction-content h1,
  .reduction-content h2 {
    font-size: 25px; /* Adjust the font size */
    margin-bottom: 5px; /* Add some space below the headings */
  }
  
  .reduction-content p {
    font-size: 16px; /* Comfortable reading size for paragraph text */
    line-height: 1.6; /* Good line height for readability */
    margin-bottom: 20px; /* Space below the paragraph */
  }
  
  .reduction-offers {
    display: flex;
    justify-content: space-between; /* Space out the offers */
    gap: 20px; /* Space between the offers */
  }
  .offer {
    background-color: #f0f0f0; /* A light background for the offer boxes */
    padding: 15px; /* Padding inside the boxes */
    border-radius: 5px; /* Rounded corners for the boxes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
  }
  
  .offer h3 {
    font-size: 22px; /* Font size for the discount offer */
    color: #d9534f; /* A standout color for the discount percentage */
    margin-bottom: 10px; /* Space below the discount percentage */
  }
  
  .offer p {
    font-size: 14px; /* Adjust the size for offer details */
    line-height: 1.4; /* Line height for readability */
  }
  
  /* Add any additional styling as needed */
  .sn-footer {
    background-color: #0a0a0a; /* Dark background for footer */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  
  /* Text styling within the footer */
  .sn-footer-text {
    margin: 0; /* Remove margin to prevent extra space */
    font-family: 'Sulphur Point', sans-serif; /* Assuming 'Sulphur Point' is a font you have included */
  }
  
  /* Link styling within the footer */
  .sn-footer-link {
    color: #ffffff; /* Set the color for the link, if needed */
    text-decoration: none; /* Option to remove underline from link */
  }
  
  /* Link hover effect, if desired */
  .sn-footer-link:hover {
    text-decoration: underline; /* Re-add underline on hover, if desired */
  }

.contact-section {
    display: flex;
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Vertical alignment */
    padding: 40px;
    max-width: 1000px; /* Adjust based on your layout width */
    margin: auto; /* Centering the container */
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    font-family: 'Sulphur Point', sans-serif;
    
  
  }
  
  .contact-details {
    width: 50%; /* Allocate width to the text section */
    padding-right: 20px; /* Space between the text and the image */
  }
  
  .contact-image {
    width: 50%; /* Allocate width to the image section */
    text-align: center; /* Center the image if smaller than the allocated width */
  }
  
  .contact-header {
    font-size: 2.5rem; /* Adjust the font size of the header */
    margin-bottom: 0.5rem; /* Reduce space below the header */
    color: #000000; /* Dark color for the header for better contrast */
  }
  
  .contact-text {
    font-size: 1rem; /* Standard font size for contact details */
    color: #000000; /* Dark grey color for contact text */
    line-height: 1.5; /* Space between lines */
text-align: left;  
  }
  
  .contact-details a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .contact-details a:hover {
    text-decoration: underline; /* Add underline on hover for links */
  }
  
  /* Image styles */
  .contact-image img {
    max-width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
  }

footer {
    background-color: #0a0a0a; /* Example background color */
    color: white;
    text-align: left;
    padding: 10px;
    width: 100%; /* Footer should take full width */
  }
  
  /* Ensure no other styles are interfering with footer positioning */
  footer p {
    margin: 0; /* Remove margin to prevent unnecessary spacing */
    font-family: 'Sulphur Point', sans-serif;

  }
  .text-position{
    text-align: center;

  }
  