
  
.hero-header-about {
  min-height: 100vh; /* Minimum height to fill the viewport height */
  background-image: url('/photos/AboutUsSection.webp'); /* Path to your image */
  background-size: cover; 
  background-position: center; /* Center the background */
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;      
      margin-top: -30px; /* Adjust this value if there is a gap due to the  */
      padding-top: 20px; /* Compensate for negative margin if needed */
      background-attachment: fixed; /* Optional: Keeps the background fixed during scroll */
  
}


.hero-content-about h1 {
  
  display: inline; /* Only takes up as much space as necessary */
  font-size: 4vw;
  line-height: 1;
  margin: 0;
  color: #000000;
  padding: 0.05em 0.6em; /* Adjust padding to create some space around the text */
  border-radius: 20px;

}



  
  .about-section {
  max-width: 800px; /* Adjust as needed for your design */
  margin: 40px auto; /* Centers the section with top and bottom margin */
  padding: 20px; /* Adds padding inside the section */
  text-align: center; /* Aligns text to the center */
}
.about-title-about{

  color: #000000; /* Black color for the title */
  font-size: 1em; /* Large font size for the title */
  font-family: 'Sulphur Point', sans-serif;
}
.about-title {
  color: #000; /* Black color for the title */
  font-size: 2.5em; /* Large font size for the title */
  font-family: 'Sulphur Point', sans-serif;
  line-height: 1.6;
  margin-bottom: 0.5em; /* Space below the title */
  font-weight: bold; /* Bold font weight for the title */
}



  


/* Main Section Starts Here */
.main-section {
  max-width: 1080px;
  margin: 0 auto; /* Center the section */
  display: flex;
  flex-direction: column; /* Stack the content and image vertically */
  align-items: center; /* Align children to the center horizontally */
}

.main-section-content {
  width: 100%; /* Use the full width of the .main-section */
  /* Add padding or text alignment styles as needed */
}

.main-section h1 {
  color: #000;
  font-size: 2.5rem; /* Adjust the size as needed */
  margin-bottom: 1rem;
}

.main-section p {
  color: #666;
  line-height: 1.5;
}
.image-placeholder {
  width: 100%; /* Match the width of the .main-section-content */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  margin-top: 50px; /* Set to '0' to place the image at the top */
}

.image-placeholder img {
  max-width: 100%; /* Ensure the image is responsive and does not exceed its container */
  height: auto; /* Maintain aspect ratio */
}

/* If you add an actual image, you can replace .image-placeholder with the class or ID of your image container */
.testimonial-container {
  background-color: #f4f4f4; /* Adjust the background color as needed */
  padding: 40px;
  border-radius: 8px; /* Rounded corners for the container */
  max-width: 1000px; /* Adjust the width as needed */
  margin: 40px auto; /* Centering the container */
}

.testimonial-text {
  font-size: 1rem;
  color: #333; /* Text color */
  margin-bottom: 15px; /* Spacing between text and author details */
}

.testimonial-rating {
  display: flex;
  justify-content: center; /* Center the stars */
  margin-bottom: 10px; /* Spacing between stars and testimonial text */
}

.testimonial-star {
  color: #fcd34d; /* Star color */
  margin-right: 5px; /* Spacing between stars */
}

.testimonial-author {
  font-weight: bold;
  color: #333; /* Author name color */
}

.testimonial-title {
  font-size: 0.85rem;
  color: #555; /* Author title color */
}


.team-section {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8; /* Light grey background */
}

.team-section h2 {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.team-container {
  max-width: 1080px; /* Max width set to 1080px */
  margin: 0 auto; /* This will center your container */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between team members */
}

.team-member {
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Creates a round image */
  border: 3px solid #ddd; /* Optional border for images */
  margin-bottom: 20px;
}

.team-member h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #333;
}

.team-member p {
  color: #666;
}




/* Responsive layout adjustments */


