* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Border-box model */
  }
  
  
  body {
  
    flex-direction: column;
    font-family: 'Sulphur Point', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
  
  }
  
.container {
    display: flex;
    max-width: 1080px;
    margin: auto;
}

.image-placeholder {
    /* Replace with your actual image path */
    background-image: url('/photos/Login.webp');
    background-size: cover;
    background-position: center;
    flex: 1;
}

.form-container {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    background-color: #000000; /* Adjust to match your design */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
}

.form-button:hover {
    background-color: #005f6b; /* Darker blue on hover */
}

.form-footer {
    margin-top: 20px;
    text-align: left;
}

@media (max-width: 860px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .image-placeholder {
        width: 100%;
        padding-top: 50%; /* 1:1 Aspect Ratio */
    }

    .form-container {
        width: 100%;
    }
}
