
/* bar menu to fix */


@media (max-width: 767px) {
  .hero-header {
    min-height: 100vh; /* You can adjust this value to fit mobile screens */
    background-image: url('/photos/HeroSection.webp'); /* Optional: Different image for mobile */
    padding-top: 5px; /* Reduced padding */
  
  }
}
@media (max-width: 767px) {
  .hero-header-about {
    min-height: 100vh; /* You can adjust this value to fit mobile screens */
    background-image: url('/photos/AboutUsSection.webp'); /* Optional: Different image for mobile */
    padding-top: 10px; /* Reduced padding */

  }
}

@media (max-width: 767px) {
  .hero-header-services {
    min-height: 100vh; /* You can adjust this value to fit mobile screens */
    background-image: url('/photos/morerealisitc.webp'); /* Optional: Different image for mobile */
    padding-top: 10px; /* Reduced padding */
  }
}
/* Mobile Styles */


/* Service Section */

/* We offer section "Ai Powered" */
@media only screen and (max-width: 768px) {
    .services-ai-firewall-section {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .services-content,
    .services-image-placeholder {
      width: 100%;
    }
  
    .services-features {
      flex-direction: column;
    }
  
    .services-feature-item {
      /* Adjust text sizes, margins, and padding for smaller screens */
      margin: 10px 0;
    }
  
    .services-buttons {
      flex-direction: column;
    }
  
    .services-btn-learn-more,
    .services-btn-sign-up {
      width: 100%;
      margin-bottom: 10px;
    }
  
    /* Adjust the padding and margins for the mobile layout */
    .services-content {
      padding: 10px;
    }
  
    .services-content-title {
      font-size: calc(0.5em + 2vw); /* responsive font size */
    }
  
    .services-description,
    .services-feature-desc {
      font-size: calc(em + 1vw); /* responsive font size */
    }
  }

/* We offer section "Ai Powered" */

  /* Mobile Section  */
/* Styles for mobile devices */

  
@media (max-width: 768px) {
  /* Adjustments for very small screens, if necessary */
  .testimonial-logo {
    width: 70%; /* Adjust size based on your design preference */
  }
}

    @media only screen and (max-width: 768px) {
      .services-ai-firewall-section {
        padding: 20px;
        text-align: left; /* Consistent alignment */
        font-size: 16px;
        color: #000000; /* Light text for dark backgrounds */
      }
      .mobile-end-device-image-placeholder,
      .support-content .support-button {
        width: 100%; /* Take the full width of the container */
        margin-top: 10px; /* Add space above the image/button */
        order: 2; /* Image/button will be displayed after the text on mobile */
      }
    

      .services-content {
        width: 100%; /* Full width */
        padding: 20px; /* Consistent padding */
      }
    
      .services-content-title {
        font-size: 1.5em; /* Scalable title size */
        font-weight: bold; /* Bold for emphasis */
        margin-bottom: 1em; /* Spacing below the title */
        color: #000000; /* A color that pops against the dark background */
      }
    
      .services-description,
      .services-feature-desc {
        font-size: 1em; /* Scalable text size */
        line-height: 1.6; /* Readability line height */
        color: #030303; /* Consistent text color */
        margin-bottom: 1em; /* Spacing below paragraphs */
      }
    
      .services-feature-item {
        margin: 1em 0; /* Vertical spacing for items */
      }
      
    
      .services-btn-learn-more,
      .services-btn-sign-up {
        display: block; /* Full-width block display */
        width: 100%; /* Full width for easier tap */
        margin: 0.5em 0; /* Spacing around buttons */
        padding: 0.5em; /* Touch-friendly padding */
        text-align: center; /* Center text in buttons */
        background-color: #000000; /* Eye-catching button color */
        color: #ffffff; /* Text color for buttons */
        border-radius: 0.5em; /* Rounded corners for aesthetic */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
        font-weight: bold; /* Bold text for call to action */
      }
    
      .services-btn-learn-more:hover,
      .services-btn-sign-up:hover {
        background-color: #000000; /* Slightly darker on hover for feedback */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
      }
    }
    
  
    .value-platform-stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns for stats */
      gap: 20px;
    }
  
    .stat-item {
      /* Ensure the stats look good on smaller screens */
      margin: 10px 0;
    }
  
    .support-button,
    .value-platform-demo-link {
      padding: 10px 20px; /* Larger touch targets */
      font-size: calc(0.75em + 1vw);
      margin-top: 20px; /* Space after paragraph */
    }
  
    .stat-percentage {
      font-size: calc(1.5em + 2vw); /* Large font size for emphasis */
    }
  
    .stat-description {
      font-size: calc(0.75em + 1vw); /* Readable font size */
    }
  
  
    /* Mobile Section  */
    @media only screen and (max-width: 768px) {
      .mobile-end-device-section {
        flex-direction: column-reverse; /* Stack elements vertically, image below text */
        align-items: flex-start; /* Align items to the start of the container */
      }
      
      .mobile-end-device-content {
        flex-basis: auto; /* Let it consume space as needed */
        text-align: left; /* Align text to the left */
      }
      
      .mobile-end-device-title {
        font-size: calc(22px + 2vw); /* Responsive font size */
        margin-bottom: 0.5em; /* Adjust spacing */
        /* Font family is inherited from the body or specified in the root */
      }
      
      .mobile-end-device-description {
        font-size: calc(14px + 1vw); /* Responsive font size */
        /* Font family is inherited from the body or specified in the root */
      }
      
      .mobile-end-device-image-placeholder {
        order: -1; /* Position the image above the text */
        flex-basis: 100%; /* Take full width of the container */
        height: auto; /* Adjust height automatically */
        margin-top: 1em; /* Add space above the image */
        border-radius: 15px;
        border: none; /* Remove border if not needed */
        background-image: url('/photos/application.webp');
        background-size: cover;
        background-position: center;
        min-height: 300px; /* Give a minimum height to ensure visibility */

        /* Remove the placeholder styles not needed for the actual image */
      }
    
      .mobile-end-device-image-placeholder img {
        width: 100%; /* Ensure image is not larger than its container */
      }
    }
    
        /* Plan Section  */

@media only screen and (max-width: 768px) {
  .plan-btn {
    padding: 12px; /* Slightly less padding on smaller screens */
    font-size: calc(0.75em + 1vw); /* Adjust font size based on viewport width */
  }
}

    /* Plan Section  */


/* Learn More btn */
@media only screen and (max-width: 768px) {
    .testimonials-container {
      flex-direction: column;
      padding: 0;
    }
  
    .testimonial {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  /* Enterprise Clients */
  @media only screen and (max-width: 768px) {
    .testimonial-container {
      grid-template-columns: repeat(3, 1fr); /* Maintain a three-column layout */
    }
  
    .testimonial {
      /* Keep padding, or adjust as needed to fit the content */
      padding: 10px;
    }
  
    .testimonial-avatar {
      /* Keep the avatar small to fit the layout */
      width: 30px;
      height: 30px;
    }
  
    /* Adjust font sizes for readability on smaller screens */
    .testimonial-section h2,
    .testimonial p,
    footer p,
    footer span {
      font-size: calc(0.75em + 1vw);
    }
  
    /* Adjust button sizes for better clickability on touch devices */
    .testimonial .learn-more-btn {
      padding: 10px 20px;
      font-size: calc(0.75em + 1vw);
    }
  }
    /* Enterprise Clients */




/* Handling responsiveness */
@media (max-width: 768px) {
    .contact-details,
    .contact-image {
      width: 100%; /* Full width on smaller screens */
    }
  
    .contact-section {
      flex-direction: column; /* Stack elements vertically on smaller screens */
    }
  }
  

  /*compranshive seciton */
  /* Mobile Styles */
/* Mobile CSS */
@media only screen and (max-width: 767px) {


    .service-item {
      background: #fff;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: left; /* Align text to the left */
      padding: 15px; /* Add some padding for better readability */
        width: calc((100% / 3) - 20px); /* Splits the row into three columns, subtracting the gap */
      
    
    }
 
      
    .service-title {
        font-size: 19px; /* Adjust the font size as necessary */
        margin-top: 30px; /* Add a top margin */
        color: #333; /* Adjust the color as necessary */
        /* Ensure there's no text-indent or other properties affecting text alignment */
      }
    

    }
  
    /*compranshive seciton */
/* Email Image Section */
@media only screen and (max-width: 768px) {
  .email-services-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center align the content */
    text-align: center; /* Center text alignment */
  }


  .email-services-content {
    margin-bottom: 20px; /* Space below the text content */
  }


  .email-services-description p {
    font-size: 1.5em; /* Adjust size as necessary */
    padding: 0 10px; /* Adds padding on the sides for better readability */
  }
  .email-services-content h2 {
    font-size: 2.5em; /* Adjust size as necessary */
    margin: 0; /* Removes default margins */
    padding: 0 10px; /* Adds padding on the sides for better readability */
  }


  .email-services-image-placeholder {
    order: 2; /* Image will be at the bottom */
    width: 100%; /* Takes full width of the container */
    margin-top: 20px; /* Space above the image */
  }

  .email-services-image-placeholder img {
    max-width: 100%; /* Image will be responsive and take the max available width */
    height: auto; /* Keep the aspect ratio */
  }
}

  
  
      /* Email Image Section */
/* Optional: Add a media query for mobile responsiveness */
@media (max-width: 768px) {
    .demo-awards {
      flex-direction: column; /* Stack awards vertically on small screens */
    }
  }

  /* Request demo page */
  @media (max-width: 768px) {
    .demo-request-form .form-group input,
    .demo-request-form .form-group select,
    .demo-request-form .form-group textarea {
      width: 100%; /* Make form elements take full width on smaller screens */
    }
  }
  
  
  /* You may need media queries to adjust the layout on smaller screens */
  @media only screen and (max-width: 768px) {
    .testimonial-container {
      padding: 20px;
      text-align: center; /* Center align the text for mobile */
      display: flex;
      flex-direction: column;
      align-items: center; /* Align items in the center for a stacked layout */
    }
  
    .testimonial-stars {
      order: -1; /* Put the stars at the top */
      padding-bottom: 10px; /* Add some space below the stars */
    }
  
    .testimonial-rating {
      display: flex;
      justify-content: center; /* Center the stars within the rating */
    }
  
    .testimonial-star {
      font-size: 30px; /* Adjust star size */
      color: #FFD700; /* Star color */
    }
  
    .testimonial-quote {
      font-size: 16px; /* Adjust quote size for better readability */
      line-height: 1.6; /* Improve line spacing */
      margin-top: 20px; /* Add some space above the quote */
      margin-bottom: 20px; /* Add some space below the quote */
    }
  
    .testimonial-author {
      margin-top: 10px; /* Add space above the author details */
      order: 2; /* Position the author details below the quote */
    }
  
    .author-name {
      font-weight: bold; /* Optional: make author name bold */
      font-size: 18px; /* Adjust font size for the author's name */
    }
  
    .author-title {
      font-size: 16px; /* Adjust font size for the author's title */
    }
  
    .testimonial-logo {
      width: 50px; /* Adjust logo size */
      height: 50px; /* Adjust logo size */
      margin: 10px auto; /* Center the logo and add space around it */
      background-size: contain; /* Make sure the logo fits within the div */
      background-repeat: no-repeat;
      background-position: center;
      order: 3; /* Position the logo at the bottom */
    }
  }
  
    /* Testamonial Stars */

    /* About Section fixing after the hero section */
    @media only screen and (max-width: 768px) {
      .about-section {
        padding: 20px;
      }
    
      .about-title-about {
        font-size: 20px; /* Adjust the size to fit your design */
        text-align: center; /* Center the title if needed */
        margin-bottom: 10px; /* Add some space between the title and the content */
        display: block; /* Ensure it's displayed as a block-level element */
      }
    
      .about-title {
        font-size: 18px; /* Adjust the size to fit your design */
        line-height: 1.5; /* Add more line height for better readability */
        text-align: justify; /* Justify the text for a clean layout */
        margin-bottom: 20px; /* Add some space after the paragraph */
      }
    }
        /* About Section fixing after the hero section */


  /* Handling responsiveness */
@media (max-width: 768px) {
  .contact-details,
  .contact-image {
    width: 100%; /* Full width on smaller screens */
  }

  .contact-section {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }
}
