body {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: 'Sulphur Point', sans-serif;

  }
  

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c67ed;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4a52d1;
}

a {
    color: #5c67ed;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}
