
  
  .hero-header-services{
    min-height: 100vh;
    background-image: url('/photos/DALL·E\ 2024-03-23\ 13.37.50\ -\ Design\ an\ image\ that\ centers\ around\ a\ single\ ShieldNet\ logo\,\ which\ includes\ a\ shield\ and\ a\ red\ heart\,\ to\ represent\ the\ company\'s\ services.\ The\ logo\ sh.webp');
    background-size: cover; 
    background-position: center; /* Center the background */
    display:grid;
    justify-content: center;
    align-items: center;
    text-align: center;      
        margin-top: -30px; /* Adjust this value if there is a gap due to the .top-bar */
        padding-top: 20px; /* Compensate for negative margin if needed */
        background-attachment: fixed; /* Optional: Keeps the background fixed during scroll */
      
  }
  .hero-content-services h1 {
    display: inline; /* Only takes up as much space as necessary */
    font-size: 4vw;
    line-height: 1;
    margin: 0;
    color: #ffffff;
    background-color: rgba(1, 31, 61, 0.7);
    padding: 0.1em 0.3em; /* Adjust padding to create some space around the text */
    border-radius: 20px;
  }

  .hero-content-services p {
    font-size: 1.5vw;
    line-height: 1.4;
    margin: 10px 0; /* Space above and below paragraph */
    padding: 0.1em 0.3em; /* Adjust padding to create some space around the text */
    color: #ffffff; /* White color for the text */
    background-color: rgba(1, 31, 61, 0.7); /* Your desired color with opacity */
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Allows the background to wrap the content */
  }
  



  /* Main Section */
  .services-ai-firewall-section {
    display: flex;
    align-items: flex-start; /* Align the tops of the items */
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto; /* Center the section */
    gap: 20px; /* Space between the text and the image */
    padding: 0 10px; /* Space on the sides within the 1080px width */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  
  .services-content {
    flex: 1; /* Take up the remaining space */
    padding-right: 20px; /* Add padding on the right */
  }
  




  .services-content h3,
  .services-content p {
    margin: 0 0 20px; /* Adjusted margins */
    font-size: 0.8em; /* Adjusted font size for consistency */
  }
  
  
  .services-description {
    color: #555;
    margin-bottom: 5rem;
    font-family: 'Sulphur Point', sans-serif;

  }
  
  .services-features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-family: 'Sulphur Point', sans-serif;

  }
  
  .services-feature-item {
    background-color: #fff; /* White background for a clean look */
    border: 1px solid #e1e1e1; /* Light border for some definition */
    border-radius: 4px; /* Slightly rounded corners for a softer look */
    padding: 20px; /* Padding for spacing inside the items */
    margin-bottom: 20px; /* Margin at the bottom of each item */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow to lift the items off the page */
    text-align: left; /* Align the text to the left for a classic testimonial look */
  }
  
  .services-feature-icon {
    /* Assuming this is an image or an icon font */
    display: block; /* Block display to ensure it takes up the full width */
    margin: 0 auto 20px; /* Center the icon and add margin below */
    font-size: 24px; /* Increase the font size if it's an icon font */
    /* If it's an image, you might want to control the size directly with width and height */
  }
  
  .services-feature-title {
    font-size: 3em; /* A larger font size for the title to stand out */
    margin-bottom: 10px; /* A small margin below the title */
    font-weight: bold; /* Bold font weight for the title */
  }
  .services-content-title {
    font-size: 2em; /* or any other size you prefer */
    font-weight: bold; /* if you want it to be bold */
    line-height: 1.2; /* Adjust the line height for better readability */
    margin-bottom: 20px; /* Space after the title */
    color: #333; /* Adjust the color as needed */
  }
  
  
  .services-feature-desc {
    font-size: 1em; /* Standard font size for the description */
    color: #666; /* A darker color for the description text */
    line-height: 1.5; /* Increased line height for better readability */
  }
  
  .services-buttons {
    display: flex;
    gap: 10px;
  }
  
  .services-btn-learn-more,
  .services-btn-sign-up {
    background-color: #000000;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
    
  }
  
  .services-btn-learn-more:hover,
  .services-btn-sign-up:hover {
    background-color: #0056b3;
  }
  .services-content,
  .services-image-placeholder {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distribute space between items */
    height: 100%; /* Full height of their container */
    flex: 1; /* Both take up equal space */
    

  }
    /* This will ensure that if the image is larger than the placeholder, it will not spill out */
  
    .services-image-placeholder img {
      width: 100%; /* Full width of its container */
      height: auto; /* Adjust height to maintain aspect ratio */
      object-fit: cover; /* Cover the area of the container */
      border-radius: 15px;
      height: 405px;
    }
  
  /* Add your image inside the .services-image-placeholder with a background property or <img> tag */

/* comperhensive section */
.comprehensive-section,
.service-box {
  max-width: 1080px;
  margin: 0 auto; /* This centers your sections */
}

.comprehensive-section {
  text-align: left; /* Aligns text to the left */
}
  .section-subtitle {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #666; /* or your preferred color */
    font-family: 'Sulphur Point', sans-serif;

  }
  .comprehensive-section .section-subtitle,
  .comprehensive-section .section-title,
  .comprehensive-section .section-description {
    /* Assuming you want these texts to start from left to right as well */
    text-align: left;
  }
  

  
  .comprehensive-section .section-description {
    font-size: 1em;
    text-align: justify; /* Justify the text as seen in the image */
    margin-bottom: 1.5em;
    font-family: 'Sulphur Point', sans-serif;

  }
  
  .service-box {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap in the container */
    gap: 20px; /* Adds a gap between the items */
    justify-content: flex-start; /* Aligns items to the start of the container, from left to right */
  }


 .service-item {
  width: 100%; /* Each item takes full width of its parent container, 
                  assuming you want them stacked on top of each other */
  text-align: left; /* Aligns text to the left within each service item */
}
  

  .service-item p {
    font-size: 0.8em;
    color: #555; /* Darker text for description */
  }
  


/* comperhensive section */



  /* Mobile Section */


  .mobile-end-device-content,
  .support-content {
    text-align: left; /* Aligns text to the left */
    margin-top: 85px; /* Add a gap at the top */

  }

  .mobile-end-device-title {
    font-size: 55px;
    margin-bottom: 1em;
    font-family: 'Sulphur Point', sans-serif;

  }
  
  .mobile-end-device-description {
    font-size: 18px;
    margin-bottom: 1em;
    font-family: 'Sulphur Point', sans-serif;

  }
  
.mobile-end-device-title,
.support-content-title {
  font-size: 1.5rem; /* Adjust the font size for the titles */
}
  
  .mobile-end-device-image-placeholder {
    flex-basis: 44.5%; /* Adjust accordingly */
    height: 500px; /* Your desired height */
    background-color: #f0f0f0; /* Placeholder color */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc; /* Add border if necessary */
  }
  
  .mobile-end-device-image-placeholder img {
    max-width: 80%; /* Make the image smaller, adjust the percentage as needed */
    display: block; /* This will allow margin auto to center the image */
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .mobile-end-device-image-placeholder {
    background-image: url('/photos/application.webp');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 85px; /* Adds space at the bottom */

  }





  
        /* support Section */
        .mobile-end-device-section,
        .support-section {
          max-width: 1080px;
          margin: 0 auto; /* Center the sections within their container */
          border-radius: 20px;
        }
        
        .support-section {
            background-image: url('/photos/supportsection.webp');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 250px 0; /* Adjust the padding to ensure the content is vertically centered */
          }
          
          .support-content {
            text-align: left; /* Align the text to the left */
            display: flex;
            flex-direction: column; /* Stack the elements */
            justify-content: center; /* Center content vertically */
            padding: 20px; /* Add some padding */
          }
          
          .support-content h1, 
          .support-content-title, 
          .support-content-subtitle, 
          .support-content p {
            background-color: transparent; /* Remove background color */
            margin: 0; /* Remove any default margin */
            line-height: 1.2; /* Adjust line height for readability */
          }
          
          .support-content-title {
            font-size: larger; /* Adjust the font size as needed */
            align-self: flex-start; /* Align to the start of the flex container */
          }
          
          .support-content-subtitle,
          .support-content p {
            font-size: 1em; /* Adjust the font size for the paragraph */
            line-height: 1.6; /* Adjust the line height for better readability */
            margin-top: 10px; /* Adjust top margin to space out from title */
            margin-bottom: 10px; /* Adjust bottom margin to space out before next content */
            max-width: 800px; /* Set a max width to match the title */
            /* Your additional styles for paragraph */
          }
          .support-button {
            padding: 8px 16px; /* Smaller padding for a smaller button */
            font-size: 0.5rem; /* Smaller font size */
            background-color: #000; /* Black background color */
            color: #fff; /* White text color */
            text-decoration: none; /* Removes underline from the link */
            border-radius: 4px; /* Rounded corners */
            border: 1px solid #000; /* Black border to maintain size on hover */
            display: inline-block; /* Allows for padding and margin adjustments */
            transition: all 0.3s ease; /* Smooth transition for all properties */
            text-align: center; /* Center the text inside the button */
          }
          
          .support-button:hover {
            background-color: #333; /* Darker grey background on hover for a subtle effect */
            color: #ddd; /* Slightly lighter text on hover */
            text-decoration: none; /* Ensure there's no underline on hover */
            border-color: #222; /* Dark grey border on hover for a subtle effect */
          }
          
          
          /* You can also add media queries if you want to adjust the size specifically for mobile or tablet views */
    
          
      /* support Section */

  /* Add your image inside the .mobile-end-device-image-placeholder with a background property or <img> tag */
    /* Get A Demo Section */
    .value-platform-section {
      display: flex;
      flex-direction: column; /* if you want a vertical layout */
      /* or 'flex-direction: row;' if you want a horizontal layout */
      align-items: center; /* This will center the content on the cross axis */
      justify-content: center; /* This will center the content on the main axis if 'flex-direction: column;' is used */
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px; /* Or adjust as needed */
    }
      
      .value-platform-content {
        text-align: center;
        flex: 1; /* Center the text */
      }
      
      .value-platform-content h2 {
        font-size: 2em;
        margin-bottom: 0.25em; /* Adjusted for closer spacing */
        font-family: 'Sulphur Point', sans-serif;

      }
      
      .value-platform-content p {
        font-size: 1.5em;
        margin-bottom: 1em;
        font-family: 'Sulphur Point', sans-serif;

      }
      
      .value-platform-demo-link {
        display: block; /* Make the link a block to control the width */
        width: fit-content; /* Fit the width as per content */
        margin: 0 auto; /* Center the link */
        font-weight: bold;
        color: #030303; /* Change as needed */
        text-decoration: none;
        position: relative; /* Relative positioning for pseudo-element */
        padding-bottom: 10px; /* Space for the line */

      }
      
      .value-platform-demo-link::after {
        content: '';
        display: block;
        width: 100%; /* Full width of the content */
        height: 2px; /* Height of the line */
        background-color: #000; /* Color of the line */
        position: absolute;
        left: 0;
        bottom: 0; /* Position at the bottom of the link */
        font-family: 'Sulphur Point', sans-serif;

      }
      
      .value-platform-stats {
        display: flex;
        justify-content: space-around;
        width: 100%; /* Adjust as necessary for your layout */
        padding-top: 20px; /* Space from the demo link */
        font-family: 'Sulphur Point', sans-serif;

      }
      
      .stat-item {
        text-align: center;
      }
      
      .stat-percentage {
        font-size: 3.5em;
        font-weight: bold;
        color: #000;
        margin: 1em 0;
        font-family: 'Sulphur Point', sans-serif;

      }
      
      .stat-description {
        font-size: 1em;
        margin-top: 1em;
      }
      
      .email-services-section {
        display: flex;
        justify-content: center; /* This will center the content within the entire section */
        max-width: 1080px; /* Maximum width of the combined blocks */
        margin: 0 auto; /* This centers the section in the middle of the page */
        gap: 20px; /* This sets a gap between text and image */
        padding: 0 10px; /* This adds some padding on the left and right */
      }
      
          
        .email-services-content {
          max-width: 1080px; /* Max width for the text content */
          margin-right: 20px; /* Space between text and image */
        }
          
          .email-services-title {
            font-size: 24px;
            color: #333; /* Dark text for better readability on light background */
            margin-bottom: 10px; /* Space between title and description */
            font-weight: bold; /* Bold font weight for titles */
            font-family: 'Sulphur Point', sans-serif;

          }
          
          
          .email-services-description {
            font-size: 16px;
            color: #666; /* Slightly lighter text for the description */
            margin-bottom: 20px; /* Space between paragraphs */
            line-height: 1.6; /* Line height for better readability */
            font-family: 'Sulphur Point', sans-serif;

          }



/* Pricing Section*/ 

  



          
  .email-services-image-placeholder {
    /* Make the div responsive to the size of its container */
    width: 100%;
    max-width: 1080px; /* or any maximum size you prefer */
    margin: auto; /* this will center the div if it's smaller than its container */
    overflow: hidden; /* ensures nothing spills out of the div */
    border-radius: 15px;
}
          
.email-services-image-placeholder img {
  width: 100%; /* make the image responsive */
  height: auto; /* maintain aspect ratio */
  display: block; /* prevent default image inline behavior */
  /* if you need to restrict the height of the image, you can also use max-height */
}
          

          
          
          
          
