
:root {
  --primary-bg-color: #ffffff; /* Replace with the blue hex code you prefer */
  --hover-bg-color: #0b0b0b; /* A darker shade for hover state */
  --text-color: #191818; /* White text color */
  --hover-text-color: #ffffff; /* Light gray text color for hover state */
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for card */
  --transition-speed: 0.3s; /* Transition speed for effects */
}